<%=@user.name%>'s Posts


<%@posts.reverse.each do |post|%>
<ul><%=link_to post.title, post_path(post)%></ul>
<%end%>
Friends: 
<ul>
  <%@user.friends.each do |user| %>
  <li><%=link_to user.name, user_path(user)%></li>
  <% end %>  
</ul>


<%if @user.id == session[:user_id]%>
<br>
<br>
<%=link_to "Edit my info", edit_user_path(@user)%>
<br>
<br>
<%=button_to "Delete my account", '/users/delete', method: :delete%>
<%end%>