

<% searched = Tag.all.find_by(name:params[:search])%>
<h3>Search results for <%=searched.name%></h3>

<%searched.posts.each do |post|%>
<div class="post-boxy">
<b><%=link_to post.title, post_path(post)%></b>
<%if post.pic.attached?%>
<p><img src = "<%=url_for(post.pic)%>"></p>
<%end%>
<p><%= truncate(post.summary, length: 50) %></p>
<p><small><%= post.all_tags %></small></p>
</div>

<%end%>