<div class ="top-container">

    <div style ="text-align:left;">
        <%@posts.each do |post|%>
        <div class="post-boxy">
            <b><%=link_to post.title, post_path(post)%></b>
            <%if post.pic.attached?%>
                <p><img src = "<%=url_for(post.pic)%>"></p>
            <%end%>
            <p><%= truncate(post.summary, length: 50) %></p>
            <p><small><%= post.all_tags %></small></p>
        </div>
        <%end%>
    </div>

    <div style ="text-align:center">
        <div class="feature">
            <%=link_to @featured_post.title, post_path(@featured_post)%>
            <%if @featured_post.pic.attached?%>
                 <p><img src = "<%=url_for(@featured_post.pic)%>"></p>
             <%end%>
            <p><%= truncate(@featured_post.summary, length: 100) %></p>
        <p><small><%= @featured_post.all_tags %></small></p>
        </div>
    </div>



</div>