POSTS SHOW

<h1><%=@post.title%></h1>
<%if @post.pic.attached?%>
<img src = "<%=url_for(@post.pic)%>">
<%end%>
<p> <%=@post.summary%> </p>
<p><small>Tags: <%= raw @post.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></small></p>

<ul>
<li><%=@post.category%></li>
<li><%=link_to @post.user.name, user_path(@post.user_id)%></li>
<%if current_user == @post.user%>
<li><%=link_to "Edit", edit_post_path(@post)%></li>
<%end%>
</ul>



<br>
<br>
<br>
<br>
<br>
<br>
<%if current_user == @post.user%>
<%=button_to "Delete this Post", @post, method: :delete%>
<%end%>